In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("dunkin_stores.csv")

Saving dunkin_stores.csv to dunkin_stores.csv

In [ ]:
pd.__version__

'1.5.3'

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape #the first value gives us number of rows and the second value gives us number of columns

(9248, 22)

if you see object as data type of a column typically that means it's a string

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9248 entries, 0 to 9247
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row_id              9248 non-null   int64
 1   address_line_1      9248 non-null   object
 2   address_line_2      1763 non-null   object
 3   city                9248 non-null   object
 4   state               9248 non-null   object
 5   zip                 9248 non-null   int64
 6   phone               9126 non-null   object
 7   mon_hrs             9248 non-null   object
 8   tue_hrs             9248 non-null   object
 9   wed_hrs             9248 non-null   object
 10  thu_hrs             9248 non-null   object
 11  fri_hrs             9248 non-null   object
 12  sat_hrs             9248 non-null   object
 13  sun_hrs             9248 non-null   object
 14  drive-thru          9248 non-null   bool
 15  mobile-order        9248 non-null   bool
 16  dunkin-card         9248 non-null   bool
 17  kcup                9248 non-null   bool
 18  curbside-pickup     9248 non-null   bool
 19  has-baskin-robbins  9248 non-null   bool
 20  loc_lat             6150 non-null   float64
 21  loc_long            6150 non-null   float64
dtypes: bool(6), float64(2), int64(2), object(12)
memory usage: 1.2+ MB

In [ ]:
df.head()

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True,NaN,NaN
2,2,1700 US Highway 72 E,NaN,Athens,AL,35611,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,34.781698,-86.934524
3,3,171 N College St,NaN,Auburn,AL,36830,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,...,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,False,False,True,True,False,False,32.608800,-85.481849
4,4,2049 S College St,NaN,Auburn,AL,36832,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,32.567323,-85.501589

In [ ]:
df.tail()

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
9243,9243,106 W Silver Spring Dr,Ste A,Whitefish Bay,WI,53217,(414) 284-7608,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,...,6:00 AM - 6:00 PM,6:00 AM - 4:00 PM,False,False,True,True,False,False,NaN,NaN
9244,9244,2415 Wisconsin Dells Pkwy,NaN,Wisconsin Dells,WI,53965,(608) 253-5353,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,...,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False,43.625933,-89.787100
9245,9245,69 Commerce St,NaN,Wisconsin Dells,WI,53965,(608) 350-9029,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,...,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False,NaN,NaN
9246,9246,2121 8th St S,NaN,Wisconsin Rapids,WI,54494,(715) 204-5260,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,False,False,44.375934,-89.816898
9247,9247,6305 Missile Dr,NaN,FE Warren AFB,WY,82005,(307) 637-2818,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,...,8:00 AM - 3:00 PM,8:00 AM - 3:00 PM,True,True,True,True,False,True,NaN,NaN

In [ ]:
df.columns

Index(['row_id', 'address_line_1', 'address_line_2', 'city', 'state', 'zip',
       'phone', 'mon_hrs', 'tue_hrs', 'wed_hrs', 'thu_hrs', 'fri_hrs',
       'sat_hrs', 'sun_hrs', 'drive-thru', 'mobile-order', 'dunkin-card',
       'kcup', 'curbside-pickup', 'has-baskin-robbins', 'loc_lat', 'loc_long'],
      dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=9248, step=1)

In [ ]:
df.values #you can get the body of your data frames by attribute values this gives you back a numpy array

array([[0, '1114 1st St N', 'Suite 200', ..., False, nan, nan],
       [1, '8171 US Highway 431', nan, ..., True, nan, nan],
       [2, '1700 US Highway 72 E', nan, ..., False, 34.78169848062834,
        -86.93452385029505],
       ...,
       [9245, '69 Commerce St', nan, ..., False, nan, nan],
       [9246, '2121 8th St S', nan, ..., False, 44.37593438356343,
        -89.81689750208463],
       [9247, '6305 Missile Dr', nan, ..., True, nan, nan]], dtype=object)

In [ ]:
df.dtypes #so if you just care about the columns and their data types you can use the dtypes attribute

row_id                  int64
address_line_1         object
address_line_2         object
city                   object
state                  object
zip                     int64
phone                  object
mon_hrs                object
tue_hrs                object
wed_hrs                object
thu_hrs                object
fri_hrs                object
sat_hrs                object
sun_hrs                object
drive-thru               bool
mobile-order             bool
dunkin-card              bool
kcup                     bool
curbside-pickup          bool
has-baskin-robbins       bool
loc_lat               float64
loc_long              float64
dtype: object

In [ ]:
df.nunique()

row_id                9248
address_line_1        9144
address_line_2         970
city                  3126
state                   45
zip                   5062
phone                 8989
mon_hrs                235
tue_hrs                230
wed_hrs                227
thu_hrs                230
fri_hrs                231
sat_hrs                229
sun_hrs                229
drive-thru               2
mobile-order             2
dunkin-card              2
kcup                     2
curbside-pickup          2
has-baskin-robbins       2
loc_lat               6095
loc_long              6095
dtype: int64

So these were some methods and attributes you'd want to apply to see everything loaded up correctly.

In [ ]:
city = df['city']

In [ ]:
city

0              Alabaster
1            Albertville
2                 Athens
3                 Auburn
4                 Auburn
              ...
9243       Whitefish Bay
9244     Wisconsin Dells
9245     Wisconsin Dells
9246    Wisconsin Rapids
9247       FE Warren AFB
Name: city, Length: 9248, dtype: object

In [ ]:
type(city)

pandas.core.series.Series

If we look at the type of city now it's a series not a data frame , so in pandas data frame each column is a pandas series and a series is essentially an extension of a numpy array

In [ ]:
city = df[['city']] #if we want to get a data frame version of our city data set back we have to pass in a python list so that's why we have two square
#brackets , outer square bracket specifies that we are doing subsetting and the inner one specifies that we want output as a data set
city

                  city
0            Alabaster
1          Albertville
2               Athens
3               Auburn
4               Auburn
...                ...
9243     Whitefish Bay
9244   Wisconsin Dells
9245   Wisconsin Dells
9246  Wisconsin Rapids
9247     FE Warren AFB

[9248 rows x 1 columns]

In [ ]:
#dropping columns in data set
#so by default it drops things from the rows so we have to give another parameter for dropping columns which is 'axis'
#so axis is either 0 for a row or 1 for column but in newer version of python you can actually pass string'index' or 'columns' in axis parameter
#which makes the code a little bit more readable

df.drop(['loc_lat','loc_long'] , axis='columns')

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 10:00 PM,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True
2,2,1700 US Highway 72 E,NaN,Athens,AL,35611,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False
3,3,171 N College St,NaN,Auburn,AL,36830,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,False,False,True,True,False,False
4,4,2049 S College St,NaN,Auburn,AL,36832,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9243,9243,106 W Silver Spring Dr,Ste A,Whitefish Bay,WI,53217,(414) 284-7608,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 4:00 PM,False,False,True,True,False,False
9244,9244,2415 Wisconsin Dells Pkwy,NaN,Wisconsin Dells,WI,53965,(608) 253-5353,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False
9245,9245,69 Commerce St,NaN,Wisconsin Dells,WI,53965,(608) 350-9029,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False
9246,9246,2121 8th St S,NaN,Wisconsin Rapids,WI,54494,(715) 204-5260,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,False,False
9247,9247,6305 Missile Dr,NaN,FE Warren AFB,WY,82005,(307) 637-2818,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,8:00 AM - 3:00 PM,8:00 AM - 3:00 PM,True,True,True,True,False,True

In [ ]:
df.head(3)

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True,NaN,NaN
2,2,1700 US Highway 72 E,NaN,Athens,AL,35611,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,34.781698,-86.934524

In [ ]:
df_new = df.drop(['loc_lat','loc_long'] , axis='columns')
df_new.head()

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 10:00 PM,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True
2,2,1700 US Highway 72 E,NaN,Athens,AL,35611,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False
3,3,171 N College St,NaN,Auburn,AL,36830,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,False,False,True,True,False,False
4,4,2049 S College St,NaN,Auburn,AL,36832,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False

So as you can see that the dropped values aren't saved or hasn't changed our original data frame but instead it returned a copy or a view. In order to that we can use another parameter (inplace) which modifies the original data frame, or you have to reassign it for example

 df_dropped = df.drop(['loc_lat' , 'loc_long'] , axis='columns')
it actually saves the dropped values

In [ ]:
#subsetting rows
df.loc[0]
#we'll get the first row back as a series object

row_id                                0
address_line_1            1114 1st St N
address_line_2                Suite 200
city                          Alabaster
state                                AL
zip                               35007
phone                    (205) 624-4880
mon_hrs               5:00 AM - 8:00 PM
tue_hrs               5:00 AM - 8:00 PM
wed_hrs               5:00 AM - 8:00 PM
thu_hrs               5:00 AM - 8:00 PM
fri_hrs               5:00 AM - 8:00 PM
sat_hrs               6:00 AM - 8:00 PM
sun_hrs               6:00 AM - 8:00 PM
drive-thru                         True
mobile-order                      False
dunkin-card                        True
kcup                               True
curbside-pickup                   False
has-baskin-robbins                False
loc_lat                             NaN
loc_long                            NaN
Name: 0, dtype: object

In [ ]:
df.loc[[0,1]]#this will get the first and second row back as a df

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True,NaN,NaN

So the loc isn't really looking for the first and second row in our data set but it's essentially doing like a string match to the index , like gives you the row that has 0 or 1 as its index label

In [ ]:
#so for example in python if given a list and you give it a negative number it starts counting backwards but here with loc you can't do it
df.loc[-1]
#we'll get an error

KeyError: ignored

So pandas gives us another way to subset rows as well which is iloc and this actually uses the index.

In [ ]:
df.iloc[[0,1,-1]]
#now here we'll get the value back of first second and the last row.

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True,NaN,NaN
9247,9247,6305 Missile Dr,NaN,FE Warren AFB,WY,82005,(307) 637-2818,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,...,8:00 AM - 3:00 PM,8:00 AM - 3:00 PM,True,True,True,True,False,True,NaN,NaN

In [ ]:
#subsetting rows and columns together

subset = df.loc[:,['address_line_1','city']] #here leaving the first parameter empty means i want to have all rows of those sepcific columns
subset.head()

         address_line_1         city
0         1114 1st St N    Alabaster
1   8171 US Highway 431  Albertville
2  1700 US Highway 72 E       Athens
3      171 N College St       Auburn
4     2049 S College St       Auburn

In [ ]:
subset = df.iloc[:,['address_line_1','city']] #so if we do the same thing using iloc it will give an error
#since address_line_1 and city isn't a valid positional argument iloc uses index or position
subset.head()

IndexError: ignored

In [ ]:
#but instead we'll give:
subset = df.iloc[:,[1,3]]
subset.head()

         address_line_1         city
0         1114 1st St N    Alabaster
1   8171 US Highway 431  Albertville
2  1700 US Highway 72 E       Athens
3      171 N College St       Auburn
4     2049 S College St       Auburn

In [ ]:
#So if I want to select the state column and then I'll just filter the data set in such a way that the state column is
#just the ones which is equal of AL state
df.loc[df['state'] == 'AL']

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True,NaN,NaN
2,2,1700 US Highway 72 E,NaN,Athens,AL,35611,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,34.781698,-86.934524
3,3,171 N College St,NaN,Auburn,AL,36830,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,...,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,False,False,True,True,False,False,32.608800,-85.481849
4,4,2049 S College St,NaN,Auburn,AL,36832,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,32.567323,-85.501589
5,5,2178 Eastern Valley Rd,NaN,Bessemer,AL,35022,(205) 425-1333,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,...,6:00 AM - 4:00 PM,7:00 AM - 4:00 PM,True,True,True,True,False,False,33.334624,-86.995903
6,6,1820 Gadsden Hwy,Ste 100,Birmingham,AL,35235,(205) 533-8295,6:00 AM - 7:00 PM,6:00 AM - 7:00 PM,6:00 AM - 7:00 PM,...,6:00 AM - 7:00 PM,6:00 AM - 7:00 PM,True,True,True,True,False,False,NaN,NaN
7,7,2109 6th Ave S,NaN,Birmingham,AL,35233,(205) 297-8777,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,...,6:00 AM - 4:00 PM,7:00 AM - 5:00 PM,True,True,True,True,False,False,33.507720,-86.798970
8,8,300 Commons Dr,NaN,Birmingham,AL,35209,(205) 518-5250,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,33.441958,-86.830757
9,9,400 Cahaba Park Cir,Suite 1,Birmingham,AL,35242,(205) 502-7311,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,...,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,True,False,True,True,False,False,NaN,NaN
10,10,3201 Buttermilk Rd,NaN,Cottondale,AL,35453,(205) 633-2155,Open 24 Hours,Open 24 Hours,Open 24 Hours,...,Open 24 Hours,Open 24 Hours,False,False,False,True,False,False,33.178666,-87.446651
11,11,1600 County Rd 437,NaN,Cullman,AL,35055,(256) 255-5638,Open 24 Hours,Open 24 Hours,Open 24 Hours,...,Open 24 Hours,Open 24 Hours,False,False,False,True,False,False,NaN,NaN
12,12,29160 US Highway 98,NaN,Daphne,AL,36526,(251) 621-2228,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,NaN,NaN
13,13,29728 Urgent Care Dr,Suite A,Daphne,AL,36526,(251) 509-9349,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,NaN,NaN
14,14,1024 6th Ave SE,NaN,Decatur,AL,35601,(256) 960-9349,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,False,True,34.598326,-86.980145
15,15,1865 E Main St,Suite 1,Dothan,AL,36301,(334) 686-0001,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,True,False,NaN,NaN
16,16,2141 Ross Clark Cir,NaN,Dothan,AL,36301,(334) 671-0064,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,True,True,True,True,False,31.190014,-85.399531
17,17,3835 W Main St,Suite 1,Dothan,AL,36305,(334) 836-7414,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,True,False,NaN,NaN
18,18,4185 Montgomery Hwy,NaN,Dothan,AL,36303,(334) 446-1715,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,True,True,True,True,False,31.262144,-85.438981
19,19,906 Boll Weevil Circle,Ste A,Enterprise,AL,36330,(334) 433-9806,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,False,True,True,True,False,NaN,NaN
20,20,1531 Florence Blvd,NaN,Florence,AL,35630,(256) 960-9424,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,False,False,False,False,False,False,34.819650,-87.656554
21,21,9201 Grand Bay Wilmer Rd,NaN,Grand Bay,AL,36541,(251) 865-0268,12:00 AM - 12:00 AM,12:00 AM - 12:00 AM,12:00 AM - 12:00 AM,...,12:00 AM - 12:00 AM,12:00 AM - 12:00 AM,True,False,True,True,False,False,30.486861,-88.341222
22,22,426 AL Highway 69 S,NaN,Hanceville,AL,35077,(256) 615-6178,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,False,False,True,NaN,NaN
23,23,2536 Helena Rd,Ste D,Helena,AL,35080,NaN,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 12:00 AM,6:00 AM - 8:00 PM,False,False,False,False,False,False,NaN,NaN
24,24,505 Brookwood Blvd,NaN,Homewood,AL,35209,(205) 803-3530,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,...,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,True,True,True,True,False,False,33.468644,-86.775716
25,25,5413 US 280,Ste 100,Hoover,AL,35242,NaN,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 12:00 AM,6:00 AM - 8:00 PM,False,False,False,False,False,False,NaN,NaN
26,26,10055 Memorial Pkwy SE,Suite B,Huntsville,AL,35803,(256) 960-9263,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
27,27,1221B Memorial Pkwy NW,NaN,Huntsville,AL,35801,(256) 960-9197,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,34.769766,-86.586202
28,28,2785 Carl T Jones Dr SE,Suite A,Huntsville,AL,35802,(256) 960-9239,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,...,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,True,True,True,True,False,False,NaN,NaN
29,29,301 Sparkman Dr NW,NaN,Huntsville,AL,35805,(256) 824-4587,7:00 AM - 6:00 PM,7:00 AM - 6:00 PM,7:00 AM - 6:00 PM,...,9:00 AM - 4:00 PM,9:00 AM - 4:00 PM,False,False,False,False,False,False,34.723486,-86.637990
30,30,2111 Moody Parkway,NaN,Leeds,AL,35094,(205) 571-9994,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,False,False,False,False,False,False,33.565120,-86.521488
31,31,103 Brookridge Dr,Suite B,Madison,AL,35758,(256) 960-9231,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
32,32,11212 County Line Rd,Suite A,Madison,AL,35758,(256) 503-5124,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,False,False,False,NaN,NaN
33,33,1753 Springhill Ave,NaN,Mobile,AL,36607,(251) 442-5581,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,30.700568,-88.113281
34,34,505 Schillinger Rd S,#A-110,Mobile,AL,36695,(251) 442-4845,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,True,True,True,True,False,NaN,NaN
35,35,5701 Old Shell Rd,NaN,Mobile,AL,36608,(251) 366-4823,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,True,True,True,False,False,30.689272,-88.173939
36,36,790 Ann St,NaN,Montgomery,AL,36107,(334) 356-2003,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,False,False,False,False,False,False,32.370198,-86.270962
37,37,8025 Vaughn Rd,NaN,Montgomery,AL,36116,(334) 260-7700,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,True,True,True,True,False,32.338796,-86.175463
38,38,1609 Woodward Ave,NaN,Muscle Shoals,AL,35661,(256) 960-9414,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,34.746295,-87.667584
39,39,2103 Pepperell Parkway,NaN,Opelika,AL,36801,(334) 610-0642,5:00 AM - 5:00 PM,5:00 AM - 5:00 PM,5:00 AM - 5:00 PM,...,5:00 AM - 5:00 PM,5:00 AM - 5:00 PM,True,True,True,True,False,False,32.637397,-85.408783
40,40,10 Oxford Exchange Blvd,NaN,Oxford,AL,36203,(256) 831-4696,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,True,True,True,False,False,33.609013,-85.784828
41,41,700 S Quintard Ave,NaN,Oxford,AL,36203,(256) 831-0702,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,False,False,False,False,False,False,33.619954,-85.828109
42,42,480 Cahaba Valley Rd,Suite A,Pelham,AL,35124,(205) 988-3664,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,...,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,True,True,True,True,False,False,NaN,NaN
43,43,1413 Highway 280 BYP,Suite B,Phenix City,AL,36867,(334) 384-9645,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,True,True,True,False,False,NaN,NaN
44,44,2020 Cobbs Ford Rd,Suite 1,Prattville,AL,36066,(334) 380-3889,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,True,True,True,False,False,NaN,NaN
45,45,100 Troy Plaza Loop,NaN,Troy,AL,36081,(334) 808-1353,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,False,False,False,False,False,False,31.783174,-85.951579
46,46,160 McCorvey Dr,NaN,Tuscaloosa,AL,35487,(205) 348-4041,Closed,Closed,Closed,...,Closed,Closed,False,False,False,False,False,False,33.217513,-87.545929
47,47,2520 Stillman Blvd,NaN,Tuscaloosa,AL,35401,(205) 349-3400,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,...,6:00 AM - 7:00 PM,6:00 AM - 7:00 PM,True,True,True,True,True,False,33.205606,-87.568554
48,48,3615 McFarland Blvd E,Suite 101,Tuscaloosa,AL,35405,(205) 633-2822,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,True,False,NaN,NaN
49,49,2804 20th Ave,NaN,Valley,AL,36854,(334) 528-0201,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,32.813769,-85.171156
50,50,1284 Montgomery Hwy,NaN,Vestavia,AL,35216,(205) 582-2095,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,33.422550,-86.797516
51,51,2419 Acton Rd,NaN,Vestavia Hills,AL,35243,(205) 490-1241,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,33.410512,-86.763772
52,52,313 Cane Creek Rd,11A,Warrior,AL,35180,(205) 590-0330,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,...,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,True,True,True,True,False,False,NaN,NaN
53,53,5267 US Highway 231,NaN,Wetumpka,AL,36092,(334) 478-4148,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 9:00 PM,6:30 AM - 9:00 PM,True,True,True,True,True,False,NaN,NaN

In [ ]:
df.loc[(df['state'] == "AL") & (df['city'] == 'Auburn')]

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
3,3,171 N College St,NaN,Auburn,AL,36830,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,...,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,False,False,True,True,False,False,32.608800,-85.481849
4,4,2049 S College St,NaN,Auburn,AL,36832,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,32.567323,-85.501589

In [ ]:
df_long = pd.melt(df,
                  id_vars=['city', 'state' , 'address_line_1'])
df_long.tail()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
def get_val(key_to_find):
    for key, val in states.items():
        if key_to_find == key:
            return val
    return 'Key does not exist'

store_state = df.groupby('state').count()
store_state['state_name'] = [get_val(state_abrv) for state_abrv in store_state.index]

fig = px.choropleth(store_state,
                    locations = store_state.index,
                    color = 'row_id',
                    color_continuous_scale = 'oranges',
                    hover_name = store_state.state_name,
                    locationmode = 'USA-states',
                    labels = {'row_id': 'Number of Stores'}
                    )

fig.update_layout(title_text = "Count of Dunkin' stores per state",
                  geo_scope = 'usa')

fig.show()

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("titanic.csv")

Saving titanic.csv to titanic.csv

In [ ]:
len(df)

1310

In [ ]:
df.shape

(1310, 14)

In [ ]:
df.iloc[:10, 5:10]

   sibsp  parch    ticket      fare    cabin
0    0.0    0.0     24160  211.3375       B5
1    1.0    2.0    113781  151.5500  C22 C26
2    1.0    2.0    113781  151.5500  C22 C26
3    1.0    2.0    113781  151.5500  C22 C26
4    1.0    2.0    113781  151.5500  C22 C26
5    0.0    0.0     19952   26.5500      E12
6    1.0    0.0     13502   77.9583       D7
7    0.0    0.0    112050    0.0000      A36
8    2.0    0.0     11769   51.4792     C101
9    0.0    0.0  PC 17609   49.5042      NaN

In [ ]:
pd.set_option('display.max_columns', None)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
df.iloc[[0,1,-1],0:6]

      pclass  survived                            name     sex      age  sibsp
0        1.0       1.0   Allen, Miss. Elisabeth Walton  female  29.0000    0.0
1        1.0       1.0  Allison, Master. Hudson Trevor    male   0.9167    1.0
1309     NaN       NaN                             NaN     NaN      NaN    NaN

In [ ]:
df.iloc[:,1:3]

      survived                                             name
0          1.0                    Allen, Miss. Elisabeth Walton
1          1.0                   Allison, Master. Hudson Trevor
2          0.0                     Allison, Miss. Helen Loraine
3          0.0             Allison, Mr. Hudson Joshua Creighton
4          0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...        ...                                              ...
1305       0.0                            Zabour, Miss. Thamine
1306       0.0                        Zakarian, Mr. Mapriededer
1307       0.0                              Zakarian, Mr. Ortin
1308       0.0                               Zimmerman, Mr. Leo
1309       NaN                                              NaN

[1310 rows x 2 columns]

In [ ]:
df.loc[[0]]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"

In [ ]:
df.dtypes

pclass       float64
survived     float64
name          object
sex           object
age          float64
sibsp        float64
parch        float64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [ ]:
df.select_dtypes(include= 'object')

,name,sex,ticket,cabin,embarked,boat,home.dest
0,"Allen, Miss. Elisabeth Walton",female,24160,B5,S,2,"St Louis, MO"
1,"Allison, Master. Hudson Trevor",male,113781,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,"Allison, Miss. Helen Loraine",female,113781,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,"Allison, Mr. Hudson Joshua Creighton",male,113781,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
4,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,113781,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...
1305,"Zabour, Miss. Thamine",female,2665,NaN,C,NaN,NaN
1306,"Zakarian, Mr. Mapriededer",male,2656,NaN,C,NaN,NaN
1307,"Zakarian, Mr. Ortin",male,2670,NaN,C,NaN,NaN
1308,"Zimmerman, Mr. Leo",male,315082,NaN,S,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import numpy as np

In [ ]:
#df.insert
#As the name of the function suggests, it inserts a column in the specified position.
# To demonstrate that I will first create an array of random numbers that have the length of our DataFrame:

random_col = np.random.randint(100, size=len(df))
#I will insert this array as a column in the DataFrame df at column 3 position. Remember, the column index starts from zero.
df.insert(3, 'random_col', random_col)
df.head()

,pclass,survived,name,random_col,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",89,female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",94,male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",24,female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",28,male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",99,female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
df['random_col'].where(df['random_col'] > 50)

0       89.0
1       94.0
2        NaN
3        NaN
4       99.0
        ...
1305    88.0
1306    65.0
1307     NaN
1308    89.0
1309     NaN
Name: random_col, Length: 1310, dtype: float64

In [ ]:
# Look, where the values do not meet the condition that means the value is not greater than 50, returns NaN.
#  We can replace NaN with 0 or any other value using this syntax:

df['random_col'].where(df['random_col'] > 50, 0)

0       89
1       94
2        0
3        0
4       99
        ..
1305    88
1306    65
1307     0
1308    89
1309     0
Name: random_col, Length: 1310, dtype: int64

In [ ]:
df.sex.unique()

array(['female', 'male', nan], dtype=object)

In [ ]:
df.sex.nunique(dropna=False)

3

In [ ]:
df.nunique()

In [ ]:
df['rank_calc'] = df["fare"].rank()
df.head()

,pclass,survived,name,random_col,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,rank_calc
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",89,female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1272.5
1,1.0,1.0,"Allison, Master. Hudson Trevor",94,male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1260.5
2,1.0,0.0,"Allison, Miss. Helen Loraine",24,female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1260.5
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",28,male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",1260.5
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",99,female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1260.5