# **IF/ELSE/ELIF**

In [ ]:
a = "red"


if a is "yellow":
    print("It's Yellow")

elif a is "blue":
    print("It's blue")

elif a is "red":
    print("It's red")

else:
    print("None")
print("sky")

It's red
sky

In [ ]:
print ("hi im asma")

hi im asma

In [ ]:
n=int(input())
if n%2 != 0:
  print("weird")
elif n%2 ==0 and n>=2 and n<=5:
  print('not weird')
elif n%2==0 and n>20:
  print('too weird')
else:
  print('invalid ')

65
weird

In [ ]:
print("What is your name?")
name = input()
print("What is your age?")
age = int(input())

if name == "misbah" and age == 18:
  print("You may proceed")
else:
  print("You may leave")

What is your name?
misbah
What is your age?
18
You may proceed

In [ ]:
a = ["bike","boat","car","plane"]
a.insert(2,"harley")
print(a)

['bike', 'boat', 'harley', 'car', 'plane']

In [ ]:
x = 18
result = 'High' if x > 10 else 'Low'
print(result)

y = 20
result = 10 + 10 if y > 100 else 0
print(result)

z = 20
result = 10 + (10 if z > 100 else 0)
print(result)

High
0
10

In [ ]:
a = 25
if a < 15:
    print("Hi")
if a <= 30:
    print("Hello")
else:
    print("Know Program")

b = 25
if b > 15:
    print("Hi")
if b <= 30:
    print("Hello")
else:
    print("Know Program")

a, b, c = 1, 3, 5
if a > 0:
  if b < 2:
    print("Hi")
  elif c > 3:
    print("Hello")
else:
  print("Know Program")

Hello
Hi
Hello
Hello

In [ ]:
a, b, c = 1, 3, 5
if a + b + c:
    print("Hello")
else:
    print("Know Program")

a = 1
if a > 3:
     if a > 4:
          print('w' ,end="-")
     else:
          print('x' ,end="-")
elif a < 2:
     if (a !=0):
          print('y' ,end="-")
print('z')

# if  2:
#     print("1 is truthy!")
# else:
#     print("0 is false")

if "cat" == "dog":
    print("prrrr")
else:
    print("ruff")

Hello
y-z
ruff

In [ ]:
def main():
  a = float(input("Please enter an initial investment: "))
  x = float(input("Enter the annual interest rate: "))*100

  year =0
  b = a

  while  b < a * 2 :
    b = b + b * (x)/100
    year = year + 1
  print("Amount of time to double your investment ",year)
main()

Please enter an initial investment: 3000
Enter the annual interest rate: 50
Amount of time to double your investment  1

In [ ]:
temp=eval(input())
if temp > 86:
  print('Itis hot!')
  print('Drinkliquids.')
print('Goodbye.')

85
Goodbye.

In [ ]:
if "cat" == "cat":
    print("prrrr")
else:
    print("ruff")

prrrr

In [ ]:
a=11
b=5
if (a%b==0):
    print ( "Greater")
if (a//b==0):
    print ( "Example")
else:
    print ("Easy to learn with Learnpython4cbse")

int1 = 10
int2 = 6
if int != int2:
    int2 = ++int2
print(int1 - int2)

# if True:
#     print(‘1001’)
# else:
#     print(‘2002’)

if False:
    print("First")
elif True:
    print("Second")
elif True:
    print("Third")
else:
    print("Fourth")

Easy to learn with Learnpython4cbse
4
Second

In [ ]:
x = 12345678
for i in range(10, 0, -1):
    print(i, end = ',', sep = ':')

10,9,8,7,6,5,4,3,2,1,

In [ ]:
x = eval ('True and False')
x

False

In [ ]:
x=3
if x>2 or x<5 and x==6:
    print("ok")
else:
    print("no output")

ok

In [ ]:
int1 = 10
int2 = 6
if int != int2:
    int2 += int2
print(int1 - int2)

-2

In [ ]:
x=True
y=False
z=False
if x or y and z:
     print("YES")
elif x and y or z:
     print("yes")
else:
     print("no")

YES

# **LOOPS**

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
def main():
  invested = float(input("Please enter an inititial principal: "))
  rate = float(input("Enter the annual interest rate: "))/100

  year = 0
  total = invested

  while total < invested * 2 :
    total = total + total * (rate)
    print(total)
    year = year + 1
  print("Amount of time is ",year)
main()

Please enter an inititial principal: 3000
Enter the annual interest rate: 50
4500.0
6750.0
Amount of time is  2

In [ ]:
fruits =["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
apple
cherry

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [ ]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, )3:
  print(x)

2
5
8
11
14
17
20
23
26
29

**The else keyword in a for loop specifies a block of code to be executed when the loop is finished:**

In [ ]:
for x in range(6):
  print(x)
else:
  print('finally finished!')

0
1
2
3
4
5
finally finished!

The else block will not be executed if the loop is stopped by a **break** statement.

In [ ]:
for x in range(6):
  if x == 3 :break
  print(x)
else:
  print('finally finished!')

0
1
2

In [ ]:
a=[4,9,8,7]
print(a[0:2])

[4, 9]

In [ ]:
a = "fahad"
for i in a:
  print(i)

f
a
h
a
d

In [ ]:
i=1
while i<6:
  print (i)
  i += 1

1
2
3
4
5

In [ ]:
i=1
while i<6:
  i +=1
  if i==3:
    continue
  print (i)

2
4
5
6

In [ ]:
sum = 0
values = [1,3,5,7]
for number in values:
    sum = sum + number
print(sum)

16

In [ ]:
n=5
for i in range(1,n+1):
  print("*" * i)

*
**
***
****
*****

# **RECURSION**

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def display_person(*args):
    for i in args:
        print(i)
display_person('emil', '23')

emil
23

In [ ]:
email= "saniatehseen2@icloud.com"
print(email.split('@')[0])

saniatehseen2

In [ ]:
#PYTHON PROGRAM TO PRINT PRIME NUMBERS BETWEEN AN INTERVAL:
a = 2
b = 501
print('print prime numbers between',a,'and',b,'are:')
for num in range(a,b):
  if num>1:
    for i in range(2,num):
      if(num%i)==0:
        break
    else:
     print(num)

In [ ]:
def remove(my_list,position):
  l=len(my_list)

  if position <= l :
    position = l-1
  elif position <= 0:
    position = 0
  else:
    print("index out of range")

  return [my_list[i] for i in range(l) if i != position ,break]
position = int(input('enter the position from which you want to delete the element:'))
remove([1,2,3,4],position)

SyntaxError: ignored

In [ ]:
0def remove(my_list,position):
  l=len(my_list)

  if position >= 1:
    position = l-1
  elif position <= 0:
    position = 0

  return [my_list[i] for i in range(l) if i != position]
#b = int(input('enter the position from which you want to delete the element:'))
remove([1,2,3,4],2)

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,9,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(20,70,10):
  print(i)

20
30
40
50
60

In [ ]:
myinteger = str(212345)

for ch in myinteger:
  print

2
1
2
3
4
5

In [ ]:
help(str.isdigit)

Help on method_descriptor:

isdigit(self, /)
    Return True if the string is a digit string, False otherwise.

    A string is a digit string if all characters in the string are digits and there
    is at least one character in the string.

In [ ]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(i,sep="",end="")

5
12345

In [ ]:
def check_increasing_order(l):
  increasing_order = True
  for i in range(0,len(l)-1):
    if (l[i]>(l[i+1])):
      return False
  return True

def main():

  my_string = input('please enter a whole number')

  while not my_string.isdigit():
    my_string = input('enter a whole number kindly not string')

  splits = int(input('enter how many splits of whole number you want'))


  if len(my_string)%splits==0:
    numbers = []
    for j in range(0,len(my_string),splits):
      numbers.append(my_string[j:j+splits])
    print("string can be in", splits ,"splits\n", ','.join(numbers), end=" ")

    if check_increasing_order(numbers):
      print('splits are in increasing order')

    else:
     print("splits are not in increasing order")

  if len(my_string)%splits != 0 :
    print("number can't be divided into the number of splits u want")

main()

please enter a whole numberghjk
enter a whole number kindly not string67
enter how many splits of whole number you want2
string can be in 2 splits
 67 splits are in increasing order

In [ ]:
 # if len(my_string)%2==0:
  #    numbers= []
  #    for i in range (0,len(my_string),2):
  #      numbers.append(my_string[i:i+2])

  #    print("string can be in 2 splits\n", ','.join(numbers), end=" ")

  #    if check_increasing_order(numbers):
  #     print('splits are in increasing order')

  #    else:
  #      print("splits are not in increasing order")

In [ ]:
x = 4
import math
math.sqrt(4,2)

TypeError: ignored

In [ ]:
x = eval('2 + 0')
if x > 2:
    print(x+1)
else:
    print(x-1)

1

In [ ]:
x = 12345678
for i in range(10, 0, -1):
    print(i, end = ',', sep = ':')

10,9,8,7,6,5,4,3,2,1,

In [ ]:
for num in range(2, 5,-1):
    print(num, end=", ")

In [ ]:
def fun1(name, age):
    print( name, age)

fun1('hassan', '25')

hassan 25