In [ ]:
a=eval(input("enter a number"))
b=[]
for i in range(2,a+1):
  if a%i == 0:
    b.append(i)
print(b)
b.sort()
print(b)
print("the smallest divisor of",a,"is",b[0])

enter a number58
[2, 29, 58]
[2, 29, 58]
the smallest divisor of 58 is 2

In [ ]:
pets = ['cat', 'dog', 'fish', 'bird']
for i in range(len(pets)):
   print(pets[i], end=' ')

cat dog fish bird

In [ ]:
def arithmetic(lst):
  if len(lst)>1:
    return True
  diff = lst[1]-lst[0]
  for i in range(1,len(lst)-1):
    if lst[i+1]-lst[i]!= diff:

      return False
    return True
lst=[2,4,6,8,10]
arithmetic(lst)

True

In [ ]:
b=[]
for i in range(1,51):
  if i%2 != 0 and i%3 != 0:
    b.append(i)
print(b)

[1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49]

In [ ]:
for i in range(1,51):
  if i%2 != 0 and i%3 != 0:
    i=str(i)
    print(i+",",end="")

1,5,7,11,13,17,19,23,25,29,31,35,37,41,43,47,49,

In [ ]:
b=[]
for i in range(1,51):
  if i%2 != 0 or i%3 != 0:
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 49, 50]

In [ ]:
n1=int(input("enter a number"))
n2=int(input("enter a number"))
n3=int(input("enter a number"))
d=[]
d.append(n1)
d.append(n2)
d.append(n3)
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(i != j and j != k and k !=i):
        print(d[i],d[j],d[k])

enter a number6
enter a number7
enter a number8
6 7 8
6 8 7
7 6 8
7 8 6
8 6 7
8 7 6

In [ ]:
lst=[1,2,3,4,5]
for i in range(0,len(a)-1):
  if(lst[i]>lst[i+1]):
    print(i)

In [ ]:
lst =[1,2,3,4,5]
for i in lst[::-1]:

In [ ]:
lst = [1,2,3,4]
lst.sort(reverse = True)
print(lst[1])

3

In [ ]:
lst=[1,2,3,4]
for i in lst[::-1]:
  x=lst[0]

print(x)

1

In [ ]:
lst=[1,2,3,4]
a = lst[::-1]
print(a[0])

4

In [ ]:
lst = []
lst2=[]
lst3=[]
for i in range(1,11):
  if i%2 == 0:
    lst.append(i)
  else:
    lst2.append(i)
# lst3.append(lst)
# lst3.append(lst2)
# print(lst3)
lst3.extend(lst)
lst3.extend(lst2)
print(lst3)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [ ]:
lst = [1,[2,4,6,1],6]
lst[1].sort()
print(lst)

[1, [1, 2, 4, 6], 6]

In [ ]:
a=[['A',34],['B',21],['C',26]]
for i in range(0,len(a)):
    print(i)
    for j in range(0,len(a)-i-1):
        print(j)
        if(a[j][1]>a[j+1][1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp

print(a)

0
0
1
1
0
2
[['B', 21], ['C', 26], ['A', 34]]

In [ ]:
lst=[[2,4],[1,6]]
print(max(lst))

[2, 4]

## union of lists

In [ ]:
# Python program to illustrate union
# Maintained repetition
def Union(lst1, lst2):
    final_list = lst1 + lst2
    return final_list

# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
print(Union(lst1, lst2))

[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]

In [ ]:
# Python program to illustrate union
# Maintained repetition and order
def Union(lst1, lst2):
    final_list = sorted(lst1 + lst2)
    return final_list

# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
print(Union(lst1, lst2))

[2, 2, 12, 14, 14, 15, 15, 16, 20, 23, 26, 32, 47, 48, 52, 54]

In [ ]:
#To get rid of all the repetitive elements from the initial list, we use the set() function on both the lists,
#individually. Then we add them using the “+” operator and pass as a new list.


# Python program to illustrate union
# Without repetition
def Union(lst1, lst2):
    final_list = list(set(lst1) & set(lst2))
    return final_list

# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
print(Union(lst1, lst2))

[2, 15]

In [ ]:
# We can also make an union of more than two lists.
# This can be done efficiently by using both the set() and union() function, simultaneously, as shown in the below example.
#  also takes care of the repetition and prevents them.


# Python program to illustrate union
# Union of three lists
def Union(lst1, lst2, lst3):
    final_list = list(set().union(lst1, lst2, lst3))
    return final_list

# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
lst3 = [4, 78, 5, 6, 9, 25, 64, 32, 59]
print(Union(lst1, lst2, lst3))

In [ ]:
a=1234
inv=0
while a>0:
  r=a%10
  inv=inv*10+r
  a=a//10
print("the reverse of enetred number is",inv)

the reverse of enetred number is 4321

In [ ]:
def factorial(n):
  'returns n! for input integer n'
  res = 1
  for i in range(2, n+1):
    res *= i
  return res
print(factorial(5))

120

In [ ]:
def divisors(n):
  NOD=[]
  for i in range(1,n+1):
    if n%i==0:
      NOD.append(i)
  return NOD
print(divisors(8))

[1, 2, 4, 8]

In [ ]:
def nested(n,a):
  for j in range (n):

    for i in range(a):
      print(i)
  return i
print(nested(5,3))

0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
2

In [ ]:
print(type(0xFF))

<class 'int'>

In [ ]:
name="sania"
name=name*5
print(name)

saniasaniasaniasaniasania

In [ ]:
for num in range(10,14):
  for i in range(2,num):
    if num%i==1:
      print(num)
      break

10
11
12
13

In [ ]:
lst= ['Alan Turing', 'Ken Thompson', 'Vint Cerf']
for name in lst:
  fl = name.split()
  print(fl[0], fl[1])

Alan Turing
Ken Thompson
Vint Cerf

In [ ]:
def g(x):
  x= 5

g(3)

In [ ]:
def cities2():
  lst= []
  while True:
    city = input('Enter city: ')
    if city == '':
      return lst
    lst.append(city)

cities2()

Enter city: karachi
Enter city: lahore
Enter city: ama
Enter city: high
Enter city:

['karachi', 'lahore', 'ama', 'high']

In [ ]:
def cities2():
  lst= []
  while True:
    city = input('Entercity: ')
    if city == '':
      break
    lst.append(city)
  return lst

cities2()

Entercity: karachi
Entercity: lahore
Entercity: islamabad
Entercity:

['karachi', 'lahore', 'islamabad']

In [ ]:
a=90

In [ ]:
number = 5
while number > 0:
    number -= 1
    print(number, end = ' ')

4 3 2 1 0

In [ ]:
for l in '123456789':
    if eval(l)%2 == 0:
        continue
    print(l, end = ' ')

1 3 5 7 9

In [ ]:
for l in '123456789':
    if eval(l)%2 == 0:
        pass
    print(l, end = ' ')

1 2 3 4 5 6 7 8 9

In [ ]:
numbers = [10, 20]
items = ["Chair", "Table"]

for x in numbers:
  for y in items:
    print(x, y, sep = '-', end = '  ')

10-Chair  10-Table  20-Chair  20-Table

In [ ]:
for l in range(-11, -2, 1):
     print(l, end = ' ')

-11 -10 -9 -8 -7 -6 -5 -4 -3

In [ ]:
a=1
if a==1:
  print("a")

elif a==2:
  print("b")

a

In [ ]:
a = 2
While (True or a < 2):
print(a)
    a += 2

SyntaxError: ignored

# **DICTIONARIES**

In [ ]:
n=input("enter a sting")
z=input("enter a string")
def hexASCII():
  for i in range(ord(n),ord(z)+1):
    print(chr(i)+":"+hex(i))

hexASCII()

enter a stinga
enter a stringz

TypeError: ignored

In [ ]:
def hexASCII():
  for i in range(ord('a'), ord('z')+1):
    print(f"{chr(i)}: {hex(i)}")
  return i

hexASCII()

TypeError: ignored

In [ ]:
def reverse(phone_book):
  reverse_phonebook={}
  for name,num in phone_book.items():
    reverse_phonebook[num]=name
  return reverse_phonebook

phone_book={"sania":1234,"kabab":4353}
reverse(phone_book)

{1234: 'sania', 4353: 'kabab'}

# **SETS**

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [ ]:
#Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'papaya', 'cherry', 'banana', 'apple', 'mango'}

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'kiwi', 'orange', 'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

If the item to remove does not exist, remove() will raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

 Write Python Program to Create a List of Tuples with the First Element as
the Number and Second Element as the Square of the Number

In [ ]:
lst=[]
for i in range(2,10):
  t=(i,i*i)
  lst.append(t)
print(lst)

[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

Write Python Program to Find all Numbers in a Range which are Perfect
Squares and Sum of all Digits in the Number is Less than 10

In [ ]:
lower_limit = int(input(“Enter the lower range: “))
upper_limit = int(input(“Enter the upper range: “))
my_list = []
my_list = [x for x in range(lower_limit,upper_limit+1) if (int(x**0.5))**2==x and
sum(list(map(int,str(x))))<10]
print(“The result is : “)
print(my_list)

In [ ]:
from math import *

In [ ]:
lst=[]
for i in range(2,21):
  if (i**0.5)**2==i:
    lst.append(i)
print(lst)

[4, 9, 11, 14, 16, 17]

In [ ]:
import math

# Taking the input from user
number = int(input("Enter the Number"))

root = math.sqrt(number)
if int(root + 0.5) ** 2 == number:
    print(number, "is a perfect square")
else:
    print(number, "is not a perfect square")

Enter the Number64
64 is a perfect square